[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-crispy-forms = "*"
user-agents = "*"
mailgun = "*"
gunicorn = "*"
whitenoise = "*"
structlog = "*"
boto3 = "*"
django-storages = "*"
sentry-sdk = "*"
requests = "*"
celery = "*"
method-python = "*"
twilio = "*"
psycopg2-binary = "*"
redis = "*"
numpy = "*"
logtail-python = "*"
django-ipware = "*"
sendgrid = "*"
plaid-python = "~=13.0"
django-allauth = "*"
pandas = "*"
statsmodels = "*"
dateutils = "*"
newrelic = "*"
ipinfo = "*"
cryptography = "*"

[dev-packages]
black = "*"
factory-boy = "*"
faker = "*"

[requires]
python_version = "3.8"