.roboto-font {
  font-family: "Roboto", sans-serif !important;
}

.font-15 {
  font-size: 1.5rem;
}

.bold-span {
  font-weight: 700 !important;
}

.custom-btn-icons {
  position: relative;
  top: -2.5px;
  margin: 0 2.5px;
}

.custom-btn-icons-mobile {
  position: relative;
  top: -1.5px;
  margin: 0 2.5px;
}

.hp-hero-right {
  background: conic-gradient(from 315deg, #005c6505, #ffffff);
}

.container .scaler {
  width: 100%;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.scaler.container {
  padding: 0 !important;
}

.foggy-road {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 86%;
  position: absolute;
  background-size: cover;
  background-position: center 81%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media all and (min-width: 992px) {
  .hp-search-btn {
    font-size: 1.5rem !important;
  }

  .main-header-logo {
    width: 5.5rem;
    position: relative;
    top: 0px;
  }

  .hero-title-desktop {
    line-height: 1.25 !important;
    font-size: 3.5rem;
  }

  .foggy-road {
    display: none;
  }
}

.hp-search-btn:hover {
  color: #ff5e45 !important;
}

.lrg-btn {
  border-radius: 50px;
  padding: 25px 50px !important;
  background: #000 !important;
}

.center-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media all and (max-width: 991px) {
  .mobile-overlay {
    height: 54vh;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(to bottom, #f2f2f2 47%, rgba(255, 255, 255, 0));
  }

  #SignUpNoticeModalLabel.btn-close {
    color: #d7d7d7 !important;
  }

  .content-wrapper {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bi-arrow-right-circle-fill::before {
    vertical-align: unset !important;
  }

  .gradient-bottom {
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #ffffffff 0%, #073aff00 100%), conic-gradient(from 0deg at 17% -2%, #ffffffff 0%, #ff000000 99%),
      radial-gradient(142% 91% at 83% 7%, #ffffffdb 1%, #ff000000 99%), linear-gradient(0deg, #7e8affa3 -3%, #ff000000 99%), linear-gradient(344deg, #00ffff8c -7%, #00ffff8c 0%, #ffffff 100%);
  }

  .mod-content-signup small {
    text-align: left;
    width: 100%;
  }

  .mod-content-signup h1 {
    font-size: calc(6.5vw - 0.025rem);
    line-height: 1.2;
    opacity: 0.98;
    font-weight: 300;
  }

  .main-header-logo {
    width: 6.5rem;
    position: relative;
    top: 1.6px;
    opacity: 0.9;
  }

  .icon-gradient {
    opacity: 0.9;
  }

  .mod-infographic {
    width: 100%;
    max-width: 285px;
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -28px;
    left: -40px;
    z-index: 5;
  }

  .concentric-circle {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  }

  .signup-button-container {
    width: 100%;
    height: 150px;
    display: flex;
    float: right;
    right: 0%;
    top: 10%;
    position: relative;
    justify-content: right;
    align-items: center;
    z-index: 5;
  }

  .signup-button-container a {
    width: 100%;
    max-width: 230px;
    padding: 16px 0px;
    border-radius: 50px;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: calc(0.9em + 1.5vw);
    text-transform: capitalize;
    font-family: "Roboto", sans-serif !important;
  }

  .signup-button-container a:hover {
    border: 2px solid #000;
  }

  .start-line {
    width: 13%;
    color: #07e2c0;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    height: 3.5px;
    background: #07e2c0;
    border-radius: 50px;
  }

  .mod-content-signup {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 768px;
    margin: 0 auto;
    z-index: 9;
  }

  .mobile-hero-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0 auto;
    z-index: 0;
  }

  .container .scaler {
    transform: scale(0.95);
  }

  .title-wrapper p,
  .sub-title-02 {
    position: relative;
    top: 6px;
    color: #fff !important;
    padding: 1.75px 9px;
    border-radius: 4px;
    font-size: calc(0.485rem + 1.5vw);
  }

  .hero-cta-div {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
  }

  .hero-cta-div a {
    width: 96%;
    background: #000;
    padding: 12.5px 0px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    z-index: 999;
  }
  /** Dynamic Mobile Menu Button **/

  .navbar-toggler {
    position: relative;
    width: 1.875rem;
    height: 2.25rem;
    padding-top: 7px !important;
  }

  #lens {
    background-color: transparent;
    width: 350px;
    height: 100px;
    position: absolute;
    top: 1%;
  }

  .custom-button-menu {
    box-sizing: border-box;
    height: 36px;
    cursor: pointer;
    z-index: 2;
    border: none;
    color: #000;
    background: transparent;
    transform: scale(1.2);
  }

  .custom-button-menu,
  .navbar-toggler {
    padding-top: 5px;
  }
  /* .menu {
      opacity: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      background: #000;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
    } */
  /* .menu.-open {
      opacity: 0.9;
    } */

  .custom-button-menu svg {
    stroke: #000;
    transition: 0.2s;
    height: 20px;
  }
  .custom-button-menu svg g:first-child {
    opacity: 1;
    transition: opacity 0s 0.2s;
  }
  .custom-button-menu svg g:first-child line {
    transition: transform 0.2s 0.2s;
    transform: translateY(0px);
  }
  .custom-button-menu svg g:last-child {
    opacity: 0;
    transition: opacity 0s 0.2s;
  }
  .custom-button-menu svg g:last-child line {
    transition: transform 0.2s;
    transform: rotate(0deg);
    transform-origin: center;
  }

  .custom-button-menu.-menu-open svg {
    stroke: #000;
  }
  .custom-button-menu.-menu-open svg g:first-child {
    opacity: 0;
  }
  .custom-button-menu.-menu-open svg g:first-child line {
    transition: transform 0.2s;
  }
  .custom-button-menu.-menu-open svg g:first-child line:first-child {
    transform: translateY(7px);
  }
  .custom-button-menu.-menu-open svg g:first-child line:last-child {
    transform: translateY(-7px);
  }
  .custom-button-menu.-menu-open svg g:last-child {
    opacity: 1;
  }
  .custom-button-menu.-menu-open svg g:last-child line {
    transition: transform 0.2s 0.2s;
  }
  .custom-button-menu.-menu-open svg g:last-child line:first-child {
    transform: rotate(45deg);
  }
  .custom-button-menu.-menu-open svg g:last-child line:last-child {
    transform: rotate(-45deg);
  }

  /** END **/

  /* .navbar-collapse.show {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      height: 57vh;
      display: inline-grid;
    }
  
    .navbar-collapse {
      border-top: none !important;
    } */

  .connect-accounts {
    background: #000 !important;
    color: #fff !important;
  }

  header {
    background: #fff;
    padding: 0 !important;
    top: 0;
  }

  header .container {
    position: relative;
    background-color: #f2f2f2;
    padding: 10px 20px 5px 20px;
    max-width: 100%;
  }

  header span,
  header a {
    color: #000 !important;
    font-family: "Public Sans", sans-serif;
  }

  .start-btn a {
    font-weight: 800;
    font-size: 102%;
    line-height: 1.25;
    position: relative;
    top: 7%;
  }

  .hero-divider {
    color: #000000 !important;
  }

  .navbar-toggler-icon,
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    background-color: #000 !important;
  }

  .blur-section {
    height: 48.5%;
    width: 100%;
    padding: 10px 15px;
    z-index: 9;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
  }

  .blur-section-container h1 {
    text-align: left;
    width: 75%;
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.05;
    font-weight: 700;
  }

  header p {
    font-family: "Myriad Pro Regular", "-apple-system";
  }

  /* .oversub-head {
      background: #5100cb;
      background: linear-gradient(to right, #5100cb 0%, #1d6f93 50%, #00bbdc 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: inherit !important;
    } */

  .oversub-head {
    background: linear-gradient(to right, #d49637 0%, #303030 50%, #111111 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: inherit !important;
  }

  .title-wrapper {
    text-align: left;
    width: 100%;
  }

  .title-wrapper h1,
  h4,
  p {
    color: #000;
  }
  .title-wrapper h4 {
    font-family: "Public Sans", sans-serif;
    font-size: calc(1.975rem + 0.3vw);
    line-height: 1.04;
    font-weight: 400;
  }

  .title-wrapper small {
    position: relative;
    top: 10px;
  }

  .title-wrapper h1 {
    font-size: calc(2.575rem + 1.5vw);
    font-weight: 700 !important;
    font-family: "-apple-system", "BlinkMacSystemFont", sans-serif !important;
    line-height: 1.05;
    color: #000;
  }

  .gs-container a {
    position: relative;
    top: 0px;
    border: none;
    background-color: #000;
    width: 100%;
    max-width: 246px;
  }
  /* 
    .hero-sub-content {
      width: 50%;
      height: 24%;
      background: transparent;
      border-right: 1px solid gray;
      border-top: 1px solid gray;
      position: relative;
      top: 2%;
    } */

  .hero-sub-content {
    width: 50%;
    height: 24%;
    background: transparent;
    /* border-right: 2px solid #fff; */
    border-top: 1px solid #000;
    position: relative;
    top: 2%;
  }

  .mobile-container-wrapper {
    height: 50%;
    display: list-item;
    position: relative;
    padding: 0px 17px;
  }

  /* .start-btn {
      width: 95px;
      height: 95px;
      background-color: #000;
      border-radius: 50px;
      margin: 0 auto;
      border-color: #f1f1f1;
      z-index: 9;
      position: relative;
      justify-content: center;
      display: flex;
      align-items: center;
      top: -5%;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
      border-style: solid;
      border-width: medium;
    } */

  .mobile-content-container {
    height: 100vh;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media all and (max-width: 768px) {
  .title-wrapper p,
  .sub-title-02 {
    font-size: calc(0.385rem + 1.5vw);
  }
  .mobile-container-wrapper {
    top: 12.5%;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  .title-wrapper h1 {
    max-width: 550px;
    font-size: calc(3.5rem + 1.5vw);
  }

  .hero-cta-div {
    max-width: 550px;
  }
  .mobile-container-wrapper {
    top: 12%;
  }

  .title-wrapper h4,
  .title-wrapper p {
    max-width: 550px;
  }
}

@media all and (max-width: 768px) {
  .title-wrapper h4 {
    max-width: 260px;
    font-size: calc(2rem + 0.3vw);
  }
  .title-wrapper p {
    max-width: 260px;
  }
  .title-wrapper p {
    max-width: 260px;
  }

  .hero-cta-div {
    max-width: 375px;
  }
}

@media all and (max-width: 665px) {
  header {
    height: 50px;
  }
}

@media all and (min-width: 665px) and (max-width: 800px) {
  .title-wrapper h4,
  .title-wrapper p {
    max-width: 300px;
  }
}

@media all and (max-width: 488px) {
  .consumer-header {
    top: -0.1% !important;
  }

  .main-header-logo {
    width: 7.25rem;
  }

  #navbarNav {
    background: transparent !important;
    border: none !important;
  }

  #navbarNav ul li {
    text-align: center;
    margin: 0 auto;
  }

  .title-wrapper h4 {
    word-spacing: -2.5px;
  }

  .content-wrapper {
    height: 42vh;
  }

  .gradient-bottom {
    height: 35vh;
  }

  .mod-content-signup {
    height: 35vh;
  }

  .mod-content-signup h1 {
    font-size: calc(8.25vw - 0.05rem);
  }

  .mobile-container-wrapper {
    top: 10.25%;
  }

  .title-wrapper h4 {
    font-size: calc(1.65rem + 0.3vw);
  }

  .font-15 {
    font-size: calc(1.5rem + 0.3vw);
  }

  header .container {
    padding: 25px 20px 5px 20px;
  }

  .title-wrapper p,
  .sub-title-02 {
    font-size: calc(0.575rem + 1.5vw);
  }

  .title-wrapper h4 {
    font-size: calc(2rem + 0.3vw);
  }

  .mobile-container-wrapper {
    transform: scale(0.95);
  }

  .title-wrapper p,
  .sub-title-02 {
    font-size: calc(0.485rem + 1.5vw);
  }

  /* .mobile-overlay {
      background-image: url("../../img/wave-lines-01.svg");
      height: 50vh;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: lighten;
      position: absolute;
      bottom: 0;
      z-index: -1;
      opacity: 0.03;
    } */
}

@media all and (max-width: 380px) {
  .center-text::before {
    top: 8%;
  }
}

@media all and (max-width: 460px) {
  .center-text::before {
    top: 20px;
  }
}

@media all and (min-width: 321px) and (max-width: 414px) {
  .mod-content-signup {
    height: 35vh;
  }
}

@media all and (min-width: 321px) and (max-width: 991px) {
  .title-wrapper h1 {
    font-size: calc(2.875rem + 1.8vw);
    opacity: 0.8;
  }

  .title-wrapper p,
  .sub-title-02 {
    background: rgba(0, 0, 0, 0.8);
  }

  .foggy-road {
    height: 88%;
  }
}

@media all and (max-width: 320px) {
  .hero-sub-content small {
    font-size: 0.65rem;
  }

  .content-wrapper {
    height: 55vh;
  }

  .signup-button-container a {
    width: 100%;
    max-width: 190px;
    font-size: calc(0.9em + 1vw);
  }

  .gradient-bottom {
    height: 25vh;
  }

  .mod-content-signup h1 {
    font-size: 1.25rem !important;
  }

  .mod-content-signup {
    height: 43vh;
    margin-bottom: 10px;
  }

  .mod-infographic {
    max-width: 185px;
  }

  .signup-button-wrapper {
    width: 80px;
    height: 80.05px;
  }

  .modal-body {
    padding-top: 10px !important;
  }

  .signup-button-wrapper a {
    font-size: calc(0.85rem + 0.85vw);
  }

  .title-wrapper h1 {
    font-size: calc(2.675rem + 1.5vw);
  }

  .hero-cta-div a {
    width: 90%;
    font-size: calc(0.457rem + 1.5vw);
    margin: 0 auto 0.5rem auto;
  }

  .title-wrapper p,
  .sub-title-02,
  .hero-cta-div small {
    font-size: calc(0.457rem + 1.5vw);
  }

  .mobile-container-wrapper {
    height: 50%;
    display: list-item;
    position: relative;
    top: 12.5%;
    padding: 0px 17px;
  }

  .title-wrapper h1 {
    font-size: calc(1.875rem + 1.5vw);
    max-width: 260px;
  }

  .main-header-logo {
    font-size: 1.275rem;
  }

  .start-btn {
    top: -5%;
  }

  .start-btn a {
    font-weight: 800;
    font-size: 100%;
    line-height: 1.25;
  }

  .start-btn {
    width: 75px;
    height: 75px;
  }

  .start-btn a {
    font-size: 0.75rem;
  }

  .center-text::before {
    top: 25%;
  }
}

@media all and (max-width: 280px) {
  .center-text::before {
    top: 2%;
  }
}
