.page-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
[data-bs-theme="dark"] .page-loading {
  background-color: #131517;
}
.page-loading.active {
  opacity: 1;
  visibility: visible;
}

.main-btn-fill {
  background: #00aa83;
  color: #fff;
}
.nav .btn-outline-primary {
  color: #84e7d5 !important;
  border-color: #84e7d5 !important;
}

.hero-title {
  font-family: system-ui !important;
  font-weight: 700 !important;
  font-size: 4.5rem !important;
}

.bg-dl {
  background-color: #1f2326 !important;
}

.bg-black {
  background: #131517 !important;
}

.page-loading-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.page-loading.active > .page-loading-inner {
  opacity: 1;
}
.page-loading-inner > span {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #6f788b;
}
[data-bs-theme="dark"] .page-loading-inner > span {
  color: #fff;
  opacity: 0.6;
}
.page-spinner {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  margin-bottom: 0.75rem;
  vertical-align: text-bottom;
  background-color: #d7dde2;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner 0.75s linear infinite;
  animation: spinner 0.75s linear infinite;
}
[data-bs-theme="dark"] .page-spinner {
  background-color: rgba(255, 255, 255, 0.25);
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.jarallax .jarallax-img {
  opacity: 0.5 !important;
}

.header-logo {
  width: 100%;
  max-width: 170px;
}

.magical-gradient {
  background: linear-gradient(to right, #e3eaff 0%, #84e8d6 50%, #95f1ff 100%);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  clip-path: inset(0px);
  color: transparent;
}

.magical-bg {
  background: linear-gradient(to right, #191940 0%, #50618f 50%, #191940 100%);
  background: -webkit-linear-gradient(to right, #191940 0%, #50618f 50%, #191940 100%);
}

.round-icon-dark {
  background-color: #1c2126 !important;
}

.navbar {
  border-bottom: 1px solid #3a3c3e !important;
}

.hero-cta-btn {
  font-size: 1.5rem !important;
  border-width: thin;
  border-color: #fff;
  border-style: solid;
  border-radius: 50px;
}

#successModal {
  display: none;
}

@media all and (min-width: 769px) {
  .mobile-md {
    display: none;
  }
  .desktop-md {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .mobile-md {
    display: block;
  }

  .desktop-md {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .concentric-circle {
    background-image: url("{% static 'frontend/assets/img/decorations/concentric-02.png'%}");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 350px;
    z-index: 99999;
    margin: 0 auto;
    opacity: 0.1;
  }

  small {
    font-size: 0.785rem !important;
  }
}

bar-nav .nav-link {
  color: #fff !important;
}

footer {
  padding: 6rem 0rem !important;
}
footer h5,
footer a {
  color: #fff !important;
}

.footer-ul li a {
  color: #fff !important;
}

.navbar {
  background-color: #090a0d;
}

.modal-header {
  padding: 1rem 0rem !important;
}

.ds-gradient-two {
  background: linear-gradient(to right, #e3eaff 0%, #98beff 50%, #95f1ff 100%);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  clip-path: inset(0px);
  color: transparent;
  font-weight: 700;
}

.bg-sftgreen {
  background-color: rgba(132, 231, 213, 0.1) !important;
}

.btn-main {
  background: transparent;
  color: #fff;
  border-color: #83e7d5;
}

.cool-green {
  color: rgb(132, 231, 213) !important;
}

.modal-body {
  max-width: 624px;
  margin: 0 auto;
  width: 100%;
}
