{% extends 'frontend/resume/_base.html' %}
{% load static %}
{% block main %}
<style>
    .my-photo {
        background-position: center !important;
        background-size: 90%;
        background-repeat: repeat-x;
        width: 46%;
      }

      .usa-icon {
        width: 100%;
        max-width: 25px;
        background-image: url("{% static 'frontend/assets/img/icons/usa-flag-png-xl.jpeg'%}");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
      }

      .general-btns {
        border-radius: 50px;
        line-height: 1;
        background: transparent;
        border-color: #0d6efd;
        color: #0d6efd;
        font-size: 1.15rem;
        padding: 10px 20px;
        margin-bottom: 0.5rem;
      }

      .modal-header .btn-close {
        color: black; 
    }

@media all and (max-width: 1800px) {
    .my-photo {
        background-size: cover!important;
      }
}
     
  @media all and (min-width: 1200px) {
    .home-hero-image {
      top: 0rem;
    }

    .polygon-shape {
      clip-path: polygon(0 0, calc(100% - 250px) 0, 100% 50%, calc(100% - 250px) 100%, 0 100%);
    }
  }

  @media all and (min-width: 576px) {
  
  }
  @media (max-width: 991px) {
    .center-text {
      text-align: center;
      position: relative;
      z-index: 1; /* Ensure content is above overlay */
  
      /* Rest of your CSS for text color, etc. */
    }
  
    .center-text::before {
      z-index: 0; /* Place it below the content */
    }

    .desktop {
      display: none;
    }
    
    .mobile {
      display: block;
    }

    .modal-header {
      border-bottom: none!important;
    }

  }

  @media (min-width: 992px) {
    .desktop {
      display: block;
    }

    .hp-hero-right {
        margin-left: 2rem;
    }
    
    .mobile {
      display: none;
    } 
  }

  
</style>

<section class="mobile">
<div class="container">
    <div class="row">
        <h2>Please view on Desktop</h2><br><br><br>
        <a href="{% static 'frontend/assets/documents/rstokes-resume-24.pdf' %}" style="margin-bottom: 1rem;" target="_blank" download="rstokes-resume-24.pdf">Download My Resume [PDF&nbsp;<i class="bi bi-download"></i>]</a><br><br>
    </div>
</div>
</section>

<section class="desktop">
  <div class="d-lg-flex position-relative h-90 min-vh-100">
    <!-- Cover image-->
    <div class="bg-size-cover bg-repeat-0 bg-position-center polygon-shape position-relative home-hero-image my-photo" style="background-image: url({% static 'frontend/assets/img/people/me2.jpg' %})"></div>
    <!-- Sign up form-->
    <div class="hp-hero-right d-flex flex-column align-items-center w-lg-50 min-vh-100 h-100 px-3 px-lg-5 pt-5">
      <div class="w-100 pt-5 mt-auto" style="max-width: 763px;">
        <h1 style="" class="fw-light text-dark hero-title-desktop">Richard Stokes</h1>
        <p class="pb-3 mb-3 mb-lg-4"> Software Engineer | Data Engineer | Product Design</p>
        <p>
            Richard Stokes is a self-taught software engineer proficient in five distinct languages, personifying the prowess of autodidactic learning in technology. His expertise extends to leading substantial freelance developer teams, fostering a culture of excellence. As an entrepreneur, he's founded multiple significant tech companies, demonstrating his innovative drive. <br><br>

            Additionally, Rick's impact stretches to pivotal roles within multi-million dollar corporations, contributing decisively to their expansion. His record showcases a consistent 10x scaling of these companies, attesting to his strategic acumen. Despite a versatile and thriving career, he remains rooted in his passion for technology.
        </p>
        <a href="{% static 'frontend/assets/documents/rstokes-resume-24.pdf' %}" style="margin-bottom: 1rem;" target="_blank" download="rstokes-resume-24.pdf">Download My Resume [PDF&nbsp;<i class="bi bi-download"></i>]</a><br><br>
        <a class="btn btn-primary btn-lg hp-search-btn general-btns" style="border-radius: 50px; line-height: 1;" href="https://calendly.com/rickydottech/interview" target="_blank">Schedule Interview&nbsp;&nbsp;<i class="custom-btn-icons bi-calendar2-event"></i></a><br>
        <a class="btn btn-primary btn-lg hp-search-btn general-btns" style="border-radius: 50px; line-height: 1;" href="https://visualembassy.org" target="_blank">View Work&nbsp;&nbsp;<i class="bi bi-diagram-3"></i></a><br>
      </div>
      <!-- Copyright-->
    </div>
  </div>
</section>
{% comment %} <section class="container pb-5 pt-lg-3 pt-xl-4 pt-xxl-5 mt-n2 mt-md-0">
  <p class="text-center pb-3 pb-lg-4 fw-bold text-primary pt-5">Backed by leading investors</p>
  <br>
  <div class="row justify-content-center row-cols-2 row-cols-3 row-cols-md-5 gx-0 gx-sm-3 gx-md-2 gx-lg-3 gx-xl-4">
    <div class="col">
      <div class="py-sm-2 my-xl-1"><img class="d-block d-dark-mode-none mx-auto" src="https://www.plugandplaytechcenter.com/static/assets/plug-and-play-logo-blue.451860baa333.png" width="196" alt="Clutch"><img class="d-none d-dark-mode-block mx-auto" src="assets/img/brands/clutch-rating-light.svg" width="196" alt="Clutch"></div>
    </div>
    <div class="col">
      <div class="py-sm-2 my-xl-1"><img class="d-block d-dark-mode-none mx-auto" src="https://cdn.brandfolder.io/T71J6AJ4/as/q6kn4m-tw6a8-43pj0m/Techstars_Logo_Primary_Black.png" width="196" alt="Deloitte"><img class="d-none d-dark-mode-block mx-auto" src="assets/img/brands/deloitte-light.svg" width="196" alt="Deloitte"></div>
    </div>
    <div class="col">
      <div class="py-sm-2 my-xl-1"><img class="d-block d-dark-mode-none mx-auto" src="https://images.crunchbase.com/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/xtqyjuydcouvfosbaqwf" width="75" alt="Deloitte"><img class="d-none d-dark-mode-block mx-auto" src="assets/img/brands/deloitte-light.svg" width="196" alt="Deloitte"></div>
    </div>
  </div>
</section> {% endcomment %}
{% endblock main %}

{% block footer %}

{% endblock footer %}

